@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);    
}

header {
    background-image: linear-gradient(to bottom, #e2e2dd, #ffffff);
    min-height: 150px;     
}

nav {
    text-align: center;
    margin-bottom: 25px;    
}

nav > a {
    background-color: #F063F2;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}

nav a:hover {
    background-color:rgba(230, 212, 132, 0.904);
    color: blueviolet;
}

div img {
    width: 100%;
}

section > table#one, table#two, table#tree {
    margin: auto;
    margin-bottom: 25px;
}

section > table#one {
    margin-bottom: 10px;
}

section > legend {
    text-align: center;
}

main {
    min-width: 300px;
    max-width: 320px;
    margin: auto;
    padding: 20px;
    background-color:#E3E3E1 ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #302d2ca9;
    margin-bottom: 20px;
}

main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 00px;
    margin-bottom: 40px;
    color: #F063F2;
    text-shadow: 2px 2px 3px #16161693;
    font-size: 1.5em;
}

caption {
    font-size: 1.5em;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 8px;    
}

thead > tr > th {
    position: sticky;
    top: -1px;
}

table#one, table#two, table#tree, table#for {
    width: 320px;
    border-collapse: collapse;  
      
}

table#one td, th, td{
    border: 1px solid white;
    padding: 6px;
    font-size: 0.7em;    
}

th {
    background-color:rgb(201, 193, 193) ;
}

.verde {
    background-color:rgba(8, 252, 8, 0.699)  ;
}

.amarelo {
    background-color:yellow ;
}

.orange{
    background-color: rgba(230, 212, 132, 0.904);
}

legend {
    background-color: rgb(102, 63, 63);
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.num{
    text-align: right;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 0.8em; 
    padding: 5px;   
}

p{
    color: rgb(255,0,0);
}
.principal {
    margin-bottom: 20px;
}