@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);    
}

header {
    background-image: linear-gradient(to bottom, #e2e2dd, #ffffff);
    min-height: 150px;     
}

div img {
    width: 100%;
}

section > table#one, table#two, table#tree {
    margin: auto;
    margin-bottom: 50px;
}

section > table#one {
    margin-bottom: 10px;
}

section > legend {
    text-align: center;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color:#E3E3E1 ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #302d2ca9;
    margin-bottom: 20px;
}

main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
    color: #F063F2;
    text-shadow: 3px 3px 3px #161616;
}

caption {
    font-size: 1.5em;
    background-color: #BF6734;
    font-weight: bold;
    color: white;
    padding: 8px;
}

table#one, table#two, table#tree {
    width: 407px;
    border-collapse: collapse;    
}

table#one td, th, td{
    border: 1px solid;
    padding: 8px;
}

th {
    background-color:rgb(201, 193, 193) ;
}

.verde {
    background-color:rgb(8, 252, 8)  ;
}

.amarelo {
    background-color:yellow ;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 0.8em; 
    padding: 5px;   
}